
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
        $("#btnRefresh").click(function () {
            $.reload();
        });
        $("#btnCreate").click(btn_add);

        $("#btnEdit").click(btn_edit);
        $("#btnDelete").click(btn_delete);
        $("#btnDetail").click(btn_details);
        $("#btnExport").click(function () {
            console.log('btnExport');
        });
        $("#btnEnvelope").click(function () {
            console.log('btnEnvelope');
        });
    })
    function reloadGrid() {
        $("#gridList").resetSelection();
        $("#gridList").trigger("reloadGrid");
    }
    function gridList() {
        var $gridList = $("#gridList");
        var _height = (!!window.ActiveXObject || "ActiveXObject" in window) ? 110 : 145;
        $gridList.dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "EnCode",
            url: '@Url.Action("GetTreeGridJson")',//"/SystemManage/Role/GetTreeGridJson",

            height: $(window).height() - _height,
            colModel: [
                { label: "@Resources.BaseRes.PrimaryKey", name: "Id", hidden: true, key: true },
                { label: '@Resources.BaseRes.Name', name: 'Name', width: 150, align: 'left' },
                { label: '@Resources.BaseRes.EnCode', name: 'EnCode', width: 150, align: 'left' },
                { label: '@Resources.BaseRes.Type', name: 'Type', width: 80, align: 'left' },
                { label: '@Resources.BaseRes.OrganizeName', name: 'OrganizeName', width: 150, align: 'left' },
                {
                    label: '@Resources.BaseRes.CreaterTime', name: 'CreaterTime', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: "@Resources.BaseRes.EnabledFlag", name: "EnabledFlag", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: '@Resources.BaseRes.Description', name: 'Description', width: 300, align: 'left' }
            ],
            pager: "#gridPager",
            sortname:'CreaterTime asc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }
    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "@Resources.BaseRes.Create",
            url: '@Url.Action("Form")',//"/SystemManage/Role/Form",
            width: "710px",
            height: "500px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().Id;
        $.modalOpen({
            id: "Form",
            title: "@Resources.BaseRes.Edit",
            url: '@Url.Action("Form")' + '?keyValue=' + keyValue,//"/SystemManage/Role/Form?keyValue=" + keyValue,
            width: "560px",
            height: "500px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
    function btn_delete() {
        $.deleteForm({
            url: '@Url.Action("DeleteForm")',//"/SystemManage/Role/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().Id },
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().Id;
        $.modalOpen({
            id: "Details",
            title: "@Resources.BaseRes.Details",
            url: '@Url.Action("Details")' + '?keyValue=' + keyValue,//"/SystemManage/Role/Details?keyValue=" + keyValue,
            height: "710px",
            width: "560px",
            btn: null,
        });
    }
</script>
<div class="topPanel">
    <div class="toolbar">
     
        @*范文强 2018/12/7  修改按钮加载方式  部分视图*@
        @Html.Partial("~/Views/Shared/_Partial_LoadButtons.cshtml")
        @*<script>$('.toolbar').authorizeButton()</script>*@
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="@Resources.BaseRes.Name/@Resources.BaseRes.EnCode" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>

